@font-face {
  font-family: 'LFTEtica';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/t8MJUr03D8pk.woff2') format('woff2'),
    url('../fonts/C8KanXMerqXH.woff') format('woff'),
    url('../fonts/KvsxdcKspPBf.ttf') format('truetype'),
    url('../fonts/0ViaxPdZEDyK.eot#iefix')
      format('embedded-opentype');
}

@font-face {
  font-family: 'LFTEtica';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/gJD6hGCk8OXl.woff2')
      format('woff2'),
    url('../fonts/vNSc3QrWVew2.woff') format('woff'),
    url('../fonts/yFYlSiNiF1ov.ttf') format('truetype'),
    url('../fonts/Kz067kRbkI8n.eot#iefix')
      format('embedded-opentype');
}
